<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
    <title>Outlier</title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}extjs/resources/css/ext-all.css">
	<style type="text/css">
		/*monthpicker调整年月次序后需要对css进行调整*/
		.x-monthpicker-months {
			border-left: 1px solid #1B376C;
			border-right:none;
		}
	</style>
</head>
<body>
	<script type="text/javascript" src="{{STATIC_URL}}extjs/ext-all-dev.js"></script>
	<!--<script type="text/javascript" src="{{STATIC_URL}}extjs/ext-dev.js"></script>-->
	<script type="text/javascript" src="{{STATIC_URL}}extjs/ext-lang-zh_CN.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}app/app.js"></script>
</body>
</html>
